body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #2a84d4, #d6344a);
}

.container {
    width: 100%;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

input, button {
    padding: 5px;
    margin: 5px;
    font-size: 14px;
    width: 70%;
    max-width: 300px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

#generatedPassword {
    margin-top: 20px;
    text-align: center;
}

#generatedPassword p {
    display: inline;
    margin: 0;
}